# RAMSCAMx output met files in UAM-IV CAMx format
*.cxf
# MID-RAMPA surface area and silt loading inputs
*.csv
# Compiled modules
*.mod
# Intermediate compiler output
*.o
# Emission file output
*.bin
# Compiled program
MID_RAMPA